.membership {
  height: 600px;
  background-size: cover;
  background-color: #000000;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right, hsla(183, 100%, 0%, 0.914), hsla(183, 98%, 41%, 0.394)), url(/assets/img/home/sections/afiliacion.webp);
}

.membership .wrapper {
  width: 85%;
  font-family: 'Electrolize', sans-serif;
}

.membership .wrapper .title {
  font-size: 4.5em;
  color: var(--bg-lightblue);
  text-shadow: 4px 5px black;
}

.membership .wrapper .text {
  font-size: 1.45em;
  letter-spacing: 1.5px;
  color: var(--bg-white);
  text-shadow: 1px 1px black;
}

.membership .wrapper .link {
  font-size: 1.13em;
  letter-spacing: 1.5px;
  color: var(--bg-white);
  text-shadow: 1px 1px black;
  background-color: rgba(0, 157, 165, .6);
}

.membership .wrapper .link:hover {
  font-style: italic;
}

/*------------- Media queries -------------*/
@media(max-width: 1024px) {
  .membership {
    background-attachment: scroll
  }

  .membership .wrapper {
    width: 90%;
  }

  .membership .wrapper .link {
    padding: 10px 60px;
  }
}

@media(max-width: 600px) {
  .membership .wrapper .title {
    font-size: 4em;
    text-shadow: 3px 4px black;
  }

  .membership .wrapper .text {
    margin: 20px 0;
  }
  
}

@media(max-width: 500px) {
  .membership {
    height: 650px;
  }

  .membership .wrapper .title {
    font-size: 3.85em;
  }

  .membership .wrapper .link {
    padding: 12px 60px;
  }
}

@media(max-width: 455px) {
  .membership .wrapper .title {
    font-size: 3.5em;
    text-shadow: 2px 3px black;
  }
}

@media(max-width: 335px) {
  .membership {
    height: auto;
    padding: 30% 0;
  }

  .membership .wrapper .title {
    font-size: 11.5vw;
    text-shadow: 1px 2px black;
  }

  .membership .wrapper .text {
    font-size: 6vw;
  }

  .membership .wrapper .link {
    width: 100%;
    text-align: center;
    padding: 4.25vw 0px;
    font-size: 4.75vw;
  }
}