/*------------- Información de contacto -------------*/
#contact-information {
  background-color: var(--bg-main);
}

#contact-information .wrapper {
  width: 90%;
  min-height: 600px;
  background-color: #ffffff;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, .1);
}

#contact-information .wrapper .contact-avatar {
  width: 34%;
}

#contact-information .wrapper .contact-avatar .avatar {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contact-information .wrapper .about-me {
  width: 65%;
}

#contact-information .wrapper .about-me .title {
  font-size: 1.85em;
  font-family: 'IMFellEnglishSC', sans-serif;
}

#contact-information .wrapper .about-me .title > svg {
  font-size: .65em;
}

#contact-information .wrapper .contact-avatar .subtitle {
  font-size: 1.25em;
  font-family: "Electrolize", sans-serif;
}

#contact-information .wrapper .about-me .title,
#contact-information .wrapper .contact-avatar .subtitle > span:first-child {
  color: var(--bg-darkred)
}

#contact-information .wrapper .about-me .paragraph {
  color: #000000;
  font-size: 1.25em;
  white-space: break-spaces;
}

#contact-information .wrapper .about-me .underline {
  height: 2px;
  background-color: var(--bg-darkred);
}

/*------------- Media queries -------------*/
@media (max-width: 1080px) {
  #contact-information .wrapper .about-me {
    margin-top: 2em;
  }

  #contact-information .wrapper .contact-avatar {
    text-align: center; 
  }

  #contact-information .wrapper .contact-avatar,
  #contact-information .wrapper .about-me {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #contact-information .wrapper {
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }

  #contact-information .wrapper .about-me .title {
    line-height: 1;
  }
}