#omnilife-history {
	padding: 4em 6em;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#omnilife-history > .wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	background-color: rgb(104 0 91 / 60%);
	box-shadow: inset 0 20px 35px 40px rgb(104 0 91 / 40%);
}

#omnilife-history > .title {
	font-size: 3em;
	line-height: 1.15;
	font-style: italic;
	color: var(--bg-orange);
	font-family: "Rubik", sans-serif;
}

#omnilife-history > .paragraph {
	color: var(--bg-whea);
  line-height: 1.4;
  font-size: 1.41em;
  font-family: "Noto Sans", sans-serif;
}

#omnilife-history > .title,
#omnilife-history .paragraph {
  z-index: 9999;
  position: relative;
}

@media (max-width: 800px) {
	#omnilife-history {
		padding: 4em;
	}
}

@media (max-width: 540px) {
	#omnilife-history {
		padding: 2em;
	}
}