.affiliate-program {
	padding: 4% 3%;
	background-color: var(--bg-main);
}

/*------------- Información acerca del programa de afiliados -------------*/
.affiliate-program .information {
	width: 60%;
}

.affiliate-program .information a:hover {
	opacity: .6;
}

.affiliate-program .information > .title {
	font-size: 2.5em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.affiliate-program .information > .paragraph,
.affiliate-program .information > .terms .term,
.affiliate-program .information > .ways .way {
	color: #000;
	line-height: 1.4;
	font-size: 1.41em;
	font-family: "Noto Sans", sans-serif;
}

.affiliate-program .information > .lists,
.affiliate-program .information > .categories,
.affiliate-program .information > .requeriments,
.affiliate-program .information > .terms {
	margin-bottom: 20px;
}

.affiliate-program .information > .lists .list,
.affiliate-program .information > .categories .category,
.affiliate-program .information > .requeriments .requeriment {
	font-size: 1.35em;
}

.affiliate-program .information > .categories .category .star {
	width: 32px;
}

.affiliate-program .information > .title,
.affiliate-program .table-of-contens > .title,
.affiliate-program .table-of-contens > .links .link > .title {
	font-weight: bold;
	color: var(--bg-darkpurple);
}

/*------------- Tabla que muestra los países -------------*/
.affiliate-program .information .ant-table-wrapper.countries .ant-table-thead > tr > th {
	color: var(--bg-white);
	background-color: var(--bg-darkpurple);
}

.affiliate-program .information .ant-table-wrapper.countries  .ant-table-tbody > tr.ant-table-row > td,
.affiliate-program .information .ant-table-wrapper.countries  .ant-table-tbody > tr.ant-table-row:hover > td,
.affiliate-program .information .ant-table-wrapper.countries  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
	background-color: #fff;
}

.affiliate-program .information .ant-table-wrapper.countries  .ant-table-tbody > tr:nth-child(even).ant-table-row > td,
.affiliate-program .information .ant-table-wrapper.countries  .ant-table-tbody > tr:nth-child(even).ant-table-row:hover > td, .affiliate-program .information .ant-table-wrapper.countries  .ant-table-tbody > tr:nth-child(even) > td.ant-table-cell-row-hover {
	background-color: #fafafa;
}


/*------------- Ejemplo de red de mercadeo -------------*/
.affiliate-program .information .tree .branch {
	margin: 7px 8px;
  position: relative;
  font-size: 18px;
}

.affiliate-program .information .tree .branch .content {
  display: block;
  padding: 2px 5px;
  border-radius: 5px;
	border: 1px var(--bg-gray-100) solid;
}

.affiliate-program .information .tree .sub-branchs {
	padding: 0;
	margin-left: 20px;
}

.affiliate-program .information .tree .sub-branchs .branch::before {
	content: "";
  position: absolute;
  top: -7px;
  left: -20px;
  width: 20px;
  height: 15px;
  border-radius: 0;
  border-left: 1px solid var(--bg-gray-100);
  border-bottom: 1px solid var(--bg-gray-100);
}

.affiliate-program .information .tree .sub-branchs .branch::after {
	position:absolute;
	content:"";
	top:8px;
	left:-20px;
	border-radius:0;
	width:20px;
	height:100%;
	border-left: 1px solid var(--bg-gray-100);
}

.affiliate-program .information .tree .branch:last-child::after{
	display:none;
}

.affiliate-program .information .tree .branch:last-child:before {
	border-bottom-left-radius: 5px;
}

/*------------- Tabla de contenido -------------*/
.affiliate-program .table-of-contens {
	width: 30%;
	height: 450px;
	border: 2px dashed var(--bg-gray-100);
}

.affiliate-program .table-of-contens > .title {
	padding: 15px;
	font-size: 1.75em;
	text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px dashed var(--bg-gray-100);
}

.affiliate-program .table-of-contens > .links,
.affiliate-program .table-of-contens > .links > .link > .sub-links {
	padding: 7px 20px;
	counter-reset: item;
}

.affiliate-program .table-of-contens > .links > .link > .title {
	line-height: 1;
	font-size: 1.35em;
}

.affiliate-program .table-of-contens > .links .link > .sub-links .sub-link > .title {
	color: #000;
	text-decoration: underline;
}

.affiliate-program .table-of-contens > .links .link > .sub-links .sub-link > .title:hover {
	color: var(--bg-nav);
}

.affiliate-program .table-of-contens > .links > .link::before,
.affiliate-program .table-of-contens > .links .link > .sub-links .sub-link::before {
	content: counters(item, ".") ". ";
  counter-increment: item;
}

/*------------- Media queries -------------*/
@media (max-width: 1024px) {
	.affiliate-program {
		flex-direction: column-reverse;
	}

	.affiliate-program .information {
		width: 100%;
	}

	.affiliate-program .table-of-contens {
		width: 40%;
		height: auto;
		margin-left: auto;
		margin-bottom: 2em;
	}
}

@media (max-width: 768px) {
	.affiliate-program .information > .title {
		line-height: 1.2
	}

	.affiliate-program .table-of-contens {
		width: 100%;
	}

	.affiliate-program .table-of-contens > .title {
		font-size: 2.15em;
	}

	.affiliate-program .table-of-contens > .links > .link > .title {
		font-size: 1.75em;
	}

	.affiliate-program .table-of-contens > .links .link > .sub-links .sub-link > .title {
		font-size: 1.25em;
	}
}

@media (max-width: 480px) {
	.affiliate-program .information > .title {
		font-size: 2.15em;
	}

	.affiliate-program .information > .paragraph,
	.affiliate-program .information > .terms .term,
	.affiliate-program .information > .ways .way {
		font-size: 1.25em;
	}

	.affiliate-program .information > .lists .list {
		font-size: 1.2em;
	}
}

@media (max-width: 360px) {
	.affiliate-program .information > figure {
		width: 100% !important;
	}

	.affiliate-program .information > figure img {
		object-fit: contain !important;
	}
}